<li>
  <article class="shop-item">
    <header class="shop-item__header">{{item.itemName}}</header>
    <main class="shop-item__main">
      <img src="https://via.placeholder.com/160" alt={{item.className}}>
    </main>
    <footer class="shop-item__footer">
      <button>Add to cart</button>
    </footer>
  </article>
</li>