<nav class="nav">
  <h3 class="nav__headline pl2">Seriously Complex Storefront</h3>
  <div class="nav-actions pr2">
    <a class="nav-actions__cart" href="/cart">
      {{fa-icon
        icon="shopping-cart"
        size="2x"
      }}
      (2)
    </a>
    <a class="nav-actions__admin" href="/admin">
      {{fa-icon
        icon="user-cog"
        size="2x"
      }}
    </a>
  </div>
</nav>

<div class="content">
  <ul class="top-items">
    <li class="top-item"></li>
    <li class="top-item"></li>
    <li class="top-item"></li>
    <li class="top-item"></li>
  </ul>
</div>

{{outlet}}