<nav class="nav">
  <h3 class="nav__headline pl2">Seriously Complex Storefront</h3>
  <div class="nav-actions pr2">
    <a data-test-nav-action="true" class="nav-actions__cart link--wo-style" href="/cart">
      <span class="fa-layers fa-fw">
        {{fa-icon icon="shopping-cart"}}
        <span class="fa-layers-counter">2</span>
      </span>
    </a>
    <a data-test-nav-action="true" class="nav-actions__admin link--wo-style" href="/admin">
      {{fa-icon icon="user-cog"}}
    </a>
  </div>
</nav>

<div class="content">
  {{outlet}}
</div>
