<nav class="nav">
  <h3 class="nav__headline pl2">Seriously Complex Storefront</h3>
  <div class="nav__actions pr2">
    <button>Cart</button>
    <button>Admin</button>
  </div>
</nav>

<div class="content">
  <div class="fake-block"></div>
</div>

{{outlet}}