<section class="cart">
  <header class="cart__header">Your Cart</header>
  <main class="cart__main">
    <ul class="cart-items">
      <li class="cart-item">
        <article class="shop-item">
          <header class="shop-item__header">Some Rando Item #1</header>
          <main class="shop-item__main">
            <img src="https://via.placeholder.com/160" alt="some-rando-item-1">
          </main>
          <footer class="shop-item__footer">
            <label class="quanity-label" for="cart-item-1">Quantity:</label>
            <select id="cart-item-1">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </footer>
        </article>
      </li>
      <li class="cart-item">
        <article class="shop-item">
          <header class="shop-item__header">Some Rando Item #2</header>
          <main class="shop-item__main">
            <img src="https://via.placeholder.com/160" alt="some-rando-item-1">
          </main>
          <footer class="shop-item__footer">
            <label class="quanity-label" for="cart-item-2">Quantity:</label>
            <select id="cart-item-2">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </footer>
        </article>
      </li>
    </ul>
  </main>
  <footer class="cart__footer">
    <button class="checkout">Checkout</button>
  </footer>
</section>